 @media(min-width:992px) {
     div[id="pic_causol"] {
         div {
             div {
                 div {
                     img {
                         width: 634.98px;
                         height: 150px;
                         border-radius: 0.25rem;
                     }
                 }
             }
         }
     }
 }