#footer_container {
    width: 100%;
    height: 422px;
    border-top: 1px solid #e8e8e8;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    #footer_list {
        width: 72.66666%;
        height: 241px;
        display: flex;
        justify-content: space-between;
        dl {
            box-sizing: border-box;
            dt {
                text-align: center;
                margin-bottom: 16px;
                font-size: 14px;
                font-weight: bold;
            }
            dd {
                a {
                    color: #888;
                    font-size: 14px;
                }
            }
        }
    }
    #copyright {
        width: 72.66666%;
        height: 90px;
        text-align: center;
        p {
            &:first-child {
                margin: 0;
            }
            &:nth-child(2) {
                margin: 0;
            }
            &:last-child {
                margin-top: 3%;
            }
            a,
            span {
                color: #888;
                font-size: 14px;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}

#logo_link {
    position: relative;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: -50%;
        li {
            &:hover {
                div {
                    display: block;
                }
            }
            margin-left: 5px;
            &:first-child {
                a {
                    i {
                        color: green;
                    }
                }
            }
            &:nth-child(2) {
                a {
                    i {
                        color: red;
                    }
                }
            }
            &:nth-child(3) {
                a {
                    i {
                        color: black;
                    }
                }
            }
            &:last-child {
                a {
                    i {
                        color: blue;
                    }
                }
            }
        }
    }
}

#footer_down {
    width: 50px;
}

#footer_weImg_container {
    position: absolute;
    width: 114px;
    height: 113px;
    border: 1px solid #888;
    text-align: center;
    top: -123px;
    right: -47px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 0.25rem;
    display: none;
    &:before {
        content: "";
        display: table;
    }
    #img_we {
        width: 65px;
        margin-top: 15px;
    }
    span {
        font-size: 14px;
        color: #888;
        display: block;
    }
    #minThree {
        width: 0px;
        border: 13px solid transparent;
        border-top: 15px solid #fff;
        position: absolute;
        top: 112px;
        right: 47px;
        // border: 1px solid #888;
    }
}