#container {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#public_con {
    width: 840px;
    height: 625px;
    border: 1px solid #000;
}

#msg_show {
    width: 270px;
    height: 290px;
    border: 1px solid #000;
}

ul {
    list-style: none;
    width: 85%;
    border-bottom: 1px solid #000;
    position: relative;
    right: -84px;
}

ul li {
    width: 50px;
    border: 1px solid #000;
    border-bottom: 1px solid transparent;
    position: relative;
    right: 12.7%;
}

.parasList input {
    display: block;
}