.content {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 100%;
    background: #fff;
}

.left #left-top {
    width: 100%;
    background: #fff;
}

.left div[id="lineZi"]:after {
    content: "";
    position: absolute;
    width: 100px;
    border: 1px solid #eee;
    margin-top: 13px;
}

.center {
    width: 100%;
    height: 1000px;
}

.right {
    width: 100%;
}

.img-rev {
    width: 100%;
    height: 150px;
    background: #987;
}

button[id="closeKnow"] {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
    border: 0;
}

.detail_title {
    font-size: 14px;
}

.detail_title span {
    font-size: 12px;
}

.detail_title span {
    color: #999;
}

.detail_title span:last-child {
    color: #F5A623;
}

div[id="adv_show"] {
    height: 200px;
    width: 269px !important;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    flex: 0 0 90%;
    margin-left: 5%;
    /* position: fixed;
    top: 75%;
    right: 15%; */
}

div[id="adv_child1"] {
    padding: 0px;
    height: 65%;
    background-color: #fff;
    text-align: right;
}

div[id="adv_child2"] {
    padding: 0px;
    height: 35%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id="fontContainer"] {
    text-align: left;
    margin-left: 10%;
}

div[id="fontContainer"] p:last-child {
    margin-top: -15px;
}

div[id="fontContainer"] p:last-child a {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
}

button[id="open_btn_adv"] {
    width: 140px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #009a61;
    color: #fff;
}